/PDF
/android
/.trash
/.Diaries
TO-DO LIST.md
*.docx
/.obsidian/workspace.json
/.obsidian/workspaces.json
/.obsidian/workspace-mobile.json
/.obsidian
._*
*.pdf
# Ignore Smart Environment folder
.smart-env