/* body{
    font-variant-ligatures:normal;
    font-family: 'Noto Sans SC','Source Code Pro';
} */
.markdown-rendered{
    font-family: 'Noto Sans SC','Source Code Pro';
}
.markdown-preview-view{
    font-family: 'Noto Sans SC','Source Code Pro';
}